@model IEnumerable<Inmobiliaria23.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-address-card" style="color: #000000;"></i>   Crear nuevo</a>
<br>

<table class="table">
     <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Apellido)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				<img width="32" src="@item.Avatar" />
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.RolNombre)
			</td>
         
            <td>
				@Html.ActionLink("   ", "Edit", new { id=item.Id }, new { @class = "fas fa-edit btn btn-primary rounded-circle", title = "Editar" })  
                @* @Html.ActionLink("", "Details", new { id=item.Id  }, new { @class = "fa-regular fa-file-lines btn btn-info rounded-circle", title = "Detalle" }) *@
                @if(User.IsInRole("SuperAdmin" )){ @Html.ActionLink(" ", "Delete", new { id=item.Id  }, new { @class = "fa-solid fa-trash-can btn btn-danger rounded-circle", title = "Eliminar"  })}
            </td>
        </tr>
}
    </tbody>
</table>
