@model IEnumerable<Inmobiliaria23.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
    var Inquilino = ViewBag.Inquilino;
}

<h1>Contratos</h1>

<a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-address-card style="color: #000000;"></i>   Crear nuevo</a>
<br>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Vigentes">
            <div class="form-group">
                <label for="fechaInicio" class="control-label">Fecha inicial</label>
                <input type="date" name="fechaInicio" for="fechaInicio" class="form-control" required/>
            
                <label for="fechaFin" class="control-label">Fecha final</label>
                <input type="date" name="fechaFin" for="fechaFin" class="form-control" required/>
            </div>
            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<table class="tableplus">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                Inquilino
            </th>
            <th>
                Propietario
            </th>
            <th>
                Inmueble
            </th>
            
            <th>
                Accion
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @item.inquilino.ToString()                
            </td>
            <td>
                @item.propietario.ToString()            
            </td>
            <td>
                @item.inmueble.ToString()
            </td>         
            <td>
                @Html.ActionLink("", "Details", new { id=item.Id  }, new { @class = "fa-regular fa-file-lines btn btn-secondary rounded-circle", title = "Detalle"  })
                @Html.ActionLink("", "Renovar", new {  id=item.Id },new { @class = "fas fa-calendar-plus btn btn-primary rounded-circle", title = "Renovar" })
                @Html.ActionLink("", "Terminar", new {  id=item.Id },new { @class = "fas fa-calendar-minus btn btn-warning rounded-circle", title = "Terminar" }) 
                <a href="/Pagos/Contrato/@item.Id" title="Pagos" class="fa-solid fa-file-invoice-dollar btn btn-success rounded-circle"></a>
                @if(User.IsInRole("Admin") || User.IsInRole("SuperAdmin" )){ @Html.ActionLink(" ", "Delete", new { id=item.Id  }, new { @class = "fa-solid fa-trash-can btn btn-danger rounded-circle", title = "Eliminar"  })}
            </td>
        </tr>
    }
    </tbody>
</table>
