@model IEnumerable<Inmobiliaria23.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
    var deuda = ViewBag.deuda;
    var contrato = ViewBag.Contrato;
}

<h1>@ViewData["Title"]</h1>

@if(contrato!=null){
    <a asp-action="Create" asp-route-id=@contrato class="btn btn-success"><i class="fa-solid fa-address-card" style="color: #000000;"></i>   Crear nuevo</a>
}else{
    <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-address-card" style="color: #000000;"></i>   Crear nuevo</a>
    }
<br>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Vigentes">
            <div class="form-group">
                <label for="fechaInicio" class="control-label">Fecha inicio</label>
                <input type="date" name="fechaInicio" for="fechaInicio" class="form-control" required/>
            
                <label for="fechaFin" class="control-label">Fecha fin</label>
                <input type="date" name="fechaFin" for="fechaFin" class="form-control" required/>
            </div>

            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<table class="tableplus">

    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Id) </th>
            <th> @Html.DisplayNameFor(model => model.FechaPagado) </th>
            <th> @Html.DisplayNameFor(model => model.Mes) </th>
            <th> @Html.DisplayNameFor(model => model.contrato.Id) </th>
            <th> @Html.DisplayNameFor(model => model.inquilino.DNI) </th>
            <th> Accion </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Id) </td>
                <td> @Html.DisplayFor(modelItem => item.FechaPagado) </td>
                <td> @Html.DisplayFor(modelItem => item.Mes) </td>
                <td> @Html.DisplayFor(modelItem => item.ContratoId) </td>
                <td> @Html.DisplayFor(modelItem => item.inquilino.DNI) </td>
            
                <td>
                   @Html.ActionLink(" ", "Edit", new { id=item.Id }, new { @class = "fas fa-edit btn btn-primary rounded-circle", title = "Editar"  })  
                @Html.ActionLink(" ", "Details", new { id=item.Id  }, new { @class = "fa-regular fa-file-lines btn btn-secondary rounded-circle", title = "Detalle"  }) 
                @if(User.IsInRole("Admin") || User.IsInRole("SuperAdmin" )){ @Html.ActionLink(" ", "Delete", new { id=item.Id  }, new { @class = "fa-solid fa-trash-can btn btn-danger rounded-circle", title = "Eliminar"  })}
                </td>
            </tr>
        }
    </tbody>
</table>
