@model Inmobiliaria23.Models.Inquilino

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Inquilino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <h4>Contratos</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ContratoId</th>
                <th>InmuebleId</th>
                <th>Direccion</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contrato in Model.Contratos.ToList())
            {
                <tr>
                    <td>@contrato.Id</td>
                    <td>@contrato.InmuebleId</td>
                    <td>@contrato.InmuebleDescripcion</td>
                    <td>@contrato.FechaInicio</td>
                    <td>@contrato.FechaFin</td>
                    <td>@(contrato.Precio != null ? ((decimal)contrato.Precio).ToString("C") : string.Empty)</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })|
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
